.filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.jobsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.facturacionInput {
  margin: 12px 0px;
}

.facturacionAcciones {
  margin: 0px 12px 12px 0;
}

.isLoading, .loaded {
  display: none !important;
}

.completedJob {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 10px;
}

.small {
  font-size: 1rem;
}